<h1><%= @list.name %></h1>

<ul>
  <% @list.movies.each do |movie| %>
    <li>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <%= image_tag movie.poster_url, width: 140 %>
      <br>
      <strong>Title:</strong> <%= movie.title %><br>
      <strong>Overview:</strong> <%= movie.overview %><br>
      <strong>Rating:</strong> <%= movie.rating %><br>
      <strong>Comment:</strong> <%= bookmark.comment %><br>
      <%= button_to "Delete this bookmark",
      bookmark_path(bookmark),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-primary"
      %>
    </li><br>
  <% end %>
</ul>

<%= link_to "Back to lists", lists_path, class: "btn btn-primary col-2 mt-3" %>
<br>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-primary col-2 mt-3" %>
<%= button_to "Delete list", @list, method: :delete, class: "btn btn-primary col-4 mt-3" %>
